.header{
  display: flex;
  height: 50px;
  align-items: center;
  margin: 0; padding: 0;
  position: fixed; top: 0; left: 0; right: 0;
}
.header_left{
  padding: 5px; padding-left: 15px;
}
.header_right{
  padding-left: 30px;
  flex: 1;
  display: flex;
  justify-content: start;
}

.header_name{
  font-size: 2rem;
  text-align: center;
  padding: 7px;
  font-weight: 600;
  text-wrap: nowrap;
}

.header_right a{
  transition: 0.2s ease-in-out;
  padding: 5px 10px 5px 10px;
}
.header_right a:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  .header{
    flex-direction: column;
  }
  .header_left{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3px;
  }
  .header_right{
    padding-left: 0px;
    flex-direction: column;
    width: 100%;
  }
  .header_right a{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
    .header_right a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
}